* {
  padding: 0;
  margin: 0;
}

/* ===== Common Styles ===== */
.main-font {
  font-family: "Fira Sans", serif;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 70%);
}
.container {
  max-width: 1180px;
  padding: 0 32px;
  margin: 0 auto;
  background: #f5f5f5;
}
.secondary-btn {
  padding: 10px 20px;
  color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  transition: all ease 0.15s;
}
.secondary-btn:hover {
  background-color: #c6e4d6;
  color: #006a50;
  box-shadow: 3px 3px 0px 0px rgba(0, 106, 80, 1);
}
.h5 {
  font-size: 20px;
  color: rgba(14, 14, 14, 50%);
  line-height: 32px;
}
.h1 {
  font-size: 46px;
  line-height: 58px;
}
.primary-btn {
  color: #ffffff;
  background-color: #006a50;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}
.card-btn {
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 24px;
}
.section-title {
  font-size: 32px;
  margin-bottom: 24px;
}
.card-title {
  margin: 14px 0px;
}
/* ===== Navigation Section ===== */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.logo-text {
  font-size: 25px;
  font-weight: 700;
}

/* ===== Hero Section ===== */
.hero {
  height: 440px;
  display: flex;
  align-items: center;
  gap: 46px;
  padding: 40px 50px;
  background-color: #c6e4d6;
  border-radius: 24px;
  margin: 20px 0px 60px 0px;
}
.hero-title {
  margin: 14px 0 24px 0;
}

/* ===== Piller Section ===== */
.piller-section-cards {
  display: flex;
  gap: 25px;
  margin-top: 32px;
}
.piller-section-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 15%);
}

/* ===== Vision Section ===== */
.vision-section {
  margin-top: 60px;
}
.vision-section-cards {
  display: flex;
  gap: 25px;
  margin-top: 32px;
}
.vision-section-card {
  width: 30%;
  padding: 28px;
  border-radius: 16px;
}
.vsc-1 {
  background-color: rgba(84, 144, 245, 20%);
}
.vsc-1 button {
  background-color: #5490f5;
}
.vsc-2 {
  background-color: #c6e4d6;
}
.vsc-2 button {
  background-color: #09a15c;
}
.vsc-3 {
  background-color: #f7ebcf;
}
.vsc-3 button {
  background-color: #ffc239;
}

/* ===== Quotes Section ===== */
.quotes-section {
  margin-top: 56px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 15%);
  background-color: #fff;
  padding: 10px 24px;
}
.inner-quotes {
  padding: 24px 0px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.designation {
  color: rgba(14, 14, 14, 60%);
}

/* ===== Opinion Section ===== */
.opinion-section {
  margin-top: 56px;
}
.inner-opinion {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
}
table,
td {
  border: 1px solid rgba(14, 14, 14, 15%);
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
thead {
  background-color: #c6e4d6;
}
thead th {
  padding: 18px;
  font-weight: 600;
}
td {
  padding: 18px;
}
select {
  padding: 5px 10px;
  font-size: 14px;
  border: 2px solid #0e0e0e;
  border-radius: 4px;
  background-color: rgba(9, 161, 92, 15%);
}

/* ===== News Section ===== */
.news-section {
  margin-top: 54px;
}
.news-card {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
}
.news-card-img img {
  border-radius: 16px;
}
.news-card-content img {
  margin-bottom: 16px;
}
.date-time {
  display: flex;
  gap: 16px;
}
.news-content {
  margin: 16px 0px 28px 0px;
}

/* ===== Donate Section ===== */
.donate-section {
  text-align: center;
  max-width: 1000px;
  margin: 60px auto;
}
.price-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 24px 0px;
}
.price-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 15%);
  transition: all ease 0.15s;
}
.price-card h3 {
  font-size: 24px;
  color: rgba(14, 14, 14, 80%);
}
.donate-section input {
  display: block;
  width: 60%;
  padding: 16px;
  margin: 0 auto;
  text-align: center;
}
.donate-section button {
  margin-top: 28px;
}
.price-card:hover {
  background-color: #c6e4d6;
  box-shadow: 3px 3px 0px 0px rgba(0, 106, 80, 1);
  cursor: pointer;
}

/* ===== Newslatter Section ===== */
.newslatter-section {
  margin: 60px 0px;
  padding: 50px;
  border-radius: 24px;
  background-color: #c6e4d6;
  text-align: center;
}
.input-button-part {
  margin: 28px 0;
}
.input-button-part input {
  width: 40%;
  padding: 14px 28px;
  border-radius: 8px 0px 0px 8px;
  border: none;
}
.input-button-part button {
  color: #ffffff;
  background-color: #006a50;
  padding: 14px 28px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  font-weight: 600;
  margin-left: -10px;
  transition: all ease 0.15s;
}
.input-button-part button:hover {
  background-color: #09a15c;
  cursor: pointer;
}
.input-button-part input:focus {
  outline: none;
}
